{{#if isResponseMessage}}
  {{{responseMessage}}}
{{/if}}

<form id="login-form" role="form" style="display: block;">
  <div class="form-group has-feedback {{if validUsername 'has-success'}}">
    {{input type="text" value=username id="username" tabindex="1" class="form-control" placeholder="Username" autofocus="autofocus"}}
    {{#if validUsername}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
  </div>
  <div class="form-group has-feedback {{if validPassword 'has-success'}}">
    {{input type="password" value=password id="password" tabindex="2" class="form-control" placeholder="Password" autofocus="autofocus"}}
    {{#if validPassword}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      </div>
    </div>
  </div>
</form>
