<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Account Details</h3>
	</div>
	<div class="panel-body">
		{{#each results as |result|}}
			<p>
				Account Id: <strong>{{result.accountId}}</strong> - Type: {{result.accountType}}{{#if result.preferred}} - Preferred{{/if}}
			</p>
			<table class="table">
				<tbody>
					<tr>
						<td>
							Balance:
						</td>
						<td>
							<strong>£{{result.balance.balance}}</strong>
						</td>
						<td>
							Avaliable to Deal:
						</td>
						<td>
							<strong>£{{result.balance.available}}</strong>
						</td>
						<td>
							Profit / Loss:
						</td>
						<td>
							<strong>£{{result.balance.profitLoss}}</strong>
						</td>
					</tr>
				</tbody>
			</table>
		{{/each}}
	</div>
</div>
