<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Account Details</h3>
	</div>
	<div class="panel-body">
		<p>
			Account Id: {{activeAccount}}
		</p>
		<table class="table">
			<tbody>
				<tr>
					<td>
						Equity:
					</td>
					<td>
						£{{account.Equity}}
					</td>
					<td>
						Profit / Loss:
					</td>
					<td>
						£{{account.pnl}}
					</td>
					<td>
						Funds:
					</td>
					<td>
						£{{account.funds}}
					</td>
					<td>
						Margin:
					</td>
					<td>
						£{{account.margin}}
					</td>
					<td>
						Avaliable to Deal:
					</td>
					<td>
						£{{account.avaliable}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
