<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Account Details</h3>
	</div>
	<div class="panel-body">
		<p>
			Account Id: <strong>{{account.ID}}</strong>
		</p>
		<table class="table">
			<tbody>
				<tr>
					<td>
						Equity:
					</td>
					<td>
						<strong>£{{account.EQUITY}}</strong>
					</td>
					<td>
						Profit / Loss:
					</td>
					<td>
						<strong>£{{account.PNL}}</strong>
					</td>
					<td>
						Funds:
					</td>
					<td>
						<strong>£{{account.FUNDS}}</strong>
					</td>
					<td>
						Margin:
					</td>
					<td>
						<strong>£{{account.MARGIN}}</strong>
					</td>
					<td>
						Avaliable to Deal:
					</td>
					<td>
						<strong>£{{account.AVAILABLE_TO_DEAL}}</strong>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
